@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
body {
    margin: 0px;
}

img.top {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #bf0000;
    display: inline-block;
}

li.selected {
    float: left;
    background-color: #930000;
    border-radius: 0px 0px 10px 10px;
}

li.left {
    float: left;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    font-family: Arial, sans-serif;
}


ul li a:hover {
  background-color: #930000;
}

div.topBar {
    border-radius: 10px 10px 0px 0px;
    background-color: #bf0000;
}

div.centerTopBar {
    text-align: center;
    font-size: 150%;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box; 
}

p.topBarTitle {
    color: white;
    white-space: nowrap;
    display: inline-block;
    margin: 0;

    font-family: 'Rubik Mono One', sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 0px #7a0000;
    transform: skew(-5deg);
}

img.logo {
    display: inline-block;
    height: 50px;
    width: 150px;
    object-fit: contain;
}


button.topBar {
    border-style: none;
    border-width: 0px;
    font-size: 20px;
    background-color: #950000;
    padding: 10px 50px 10px 50px;
    color: white;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
    width: fit-content;
}

input[type="file"] {
    padding: 10px 15px;
    background-color: #dcdde3;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

input[type="file"]:hover {
    background-color: #d0d1d9;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #dcdde3;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d0d1d9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

a.logout-btn {
    display: inline-block;
    background-color: #a30000;
    border-radius: 0px 0px 10px 10px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

a.logout-btn:hover {
    background-color: #990000;
}

a.login-btn {
    display: inline-block;
    background-color: #a30000;
    border-radius: 0px 0px 10px 10px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

a.login-btn:hover {
    background-color: #990000;
}

.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.flash-message {
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    border-radius: 5px;
    font-weight: bold;
}

div.topBar > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

div.topBar > div:last-child > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.current-day-info {
    display: inline-block;
    margin-left: 5%;
    font-size: 30px;
}

div.mainButtons {
    display: flex
}

menu.dates {
    border-radius: 5px;
    background-color: #dedef2;
    padding: 10px;
    display: inline-block;
    font-size: 35px;
    margin-left: 5%;
}

p.homeText {
    text-align: center;
    font-size: 20px;
    margin: 0% 20% 0% 20%;
}