body {
    background-color: #692123;
}

table {
  width: 650px;
  border-top: 7px solid rgb(43, 129, 17);
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid black;
}

td {
  font-family: Roboto, sans-serif;
  text-align: left;
	padding: 10px;
	border: 3px solid black;
}
 th {
  text-align: center;
  padding: 10px;
	border: 3px solid black;
 }

div.login {
    background-color: #D7D0EE;
    border-radius: 20px;
    text-align: center;
    margin: 0;
    padding: 50px 75px 75px 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.return {
    background-color: #bf0000;
    border-radius: 30px;
    font-size: 40px;
    position: absolute;

    margin: 14.3% 0% 0% 58.5%;
    text-align: center;
    width: 3%;
}

div.return a {
    display: block;
    color: white;
    padding: 0% 0% 0%;
    text-decoration: none;
}


div.inp {
    margin-bottom: 10px;
    font-size: 30px;
}

div.form-group {
    background-color: #ECEAF7;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin-right: 30px;
    margin-left: 30px;
}

input[type=login] {
    padding-top: 5px;
    padding-bottom: 5px;
}

input[type=password] {
    padding-top: 5px;
    padding-bottom: 5px;
}

.headline {
    font-size: 60px;
}

h1.loginHeadline {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.verybig {
    font-size: 20px;
}

button.login {
    font-size: 40px;
    background-color: #bf0000;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    margin-top: 10px;
    color: white;
}
