div.topImage {
    border-style: none;
    border-color: #bf0000;
    border-width: 0px;
    padding: 0px;
    background-color: white;
}

div.topImage img {
    width: 100%;
    height: 100%;
    object-fit: fill
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bf0000;
    display: inline-block;
}

li.left {
    float: left;
}

li.right {
    float: right;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

div.return {
    background-color: #a61717;
    position: absolute;
    border-radius: 30px;
    font-size: 30px;

    margin: 0.8% 0% 0% 64%;
    text-align: center;
    width: 6.5%;
}

div.return a {
    display: block;
    color: white;
    padding: 5% 0.5%;
    text-decoration: none;
}

h2.summary {
    background-color: #cfcff9;
    border-radius: 10px;
    font-size: 25px;

    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    text-align: center;
    width: 20%;
}

ul li a:hover {
  background-color: #930000;
}

div.table {
    margin: auto;
    text-align: center;
    width: 50%;
}

table {
    border: none;
    border-collapse: collapse;
}

th, td {
    border: none;
    font-size: 20px;
}

td {
    padding: 8px;
}

th {
    background-color: #930000;
    color: white;
    padding: 12px;

}

tr:nth-child(odd) {background-color: #eaeafc;}
tr:nth-child(even) {background-color: #dedef2;}

div.topBar {

    background-color: #bf0000;
}

div.centerTopBar {
    text-align: center;
    font-size: 150%;
    margin: auto;
    width: 50%;
}

button.topBar {
    border-style: none;
    border-width: 0px;
    font-size: 20px;
    background-color: #950000;
    padding: 10px 50px 10px 50px;
    color: white;
    text-align: center;
}
