@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
    margin: 0px;
}

img.top {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

ul.top {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #bf0000;
    display: inline-block;
}

li.selected {
    float: left;
    background-color: #930000;
    border-radius: 0px 0px 10px 10px;
}

li.left {
    float: left;
}

ul.top li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    font-family: Arial, sans-serif;
}

div.return {
    background-color: #a61717;
    position: absolute;
    border-radius: 30px;
    font-size: 30px;
    margin: 0.8% 0% 0% 64%;
    text-align: center;
    width: 6.5%;
}

div.return_2 {
    background-color: #a61717;
    position: absolute;
    border-radius: 30px;
    font-size: 30px;
    margin: 0.8% 0% 0% 85%;
    text-align: center;
    width: 6.5%;
}

div.return a {
    display: block;
    color: white;
    padding: 5% 0.5%;
    text-decoration: none;
}

div.return_2 a {
    display: block;
    color: white;
    padding: 5% 0.5%;
    text-decoration: none;
}

h2.summary {
    background-color: #cfcff9;
    border-radius: 10px;
    font-size: 25px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    text-align: center;
    width: 20%;
}

ul li a:hover {
  background-color: #930000;
}

.tableSort {
}

div.aboveTable {
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.filters {
    display: grid;
    float: left;
    margin-left: 15%;
    align-items: center;
    margin-top: 2%
}

div.filter-group label {
    font-size: 20px;
}

div.filter-group select {
    font-size: 20px;
}

ul.filters {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

button.sort-btn {
    margin: 10px 0px 10px;
    font-size: 20px;
}

ul.filters li button{
    margin: 5px 0px 5px;
    font-size: 20px;;
}

button.sortApply {
    border-style: none;
    border-width: 0px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #bf0000;
    padding: 10px 10px;
    margin-right: 40%;
    color: white;
}

button.sortApply:hover {
    background-color: #930000;
}

button.sortReset {
    border-style: none;
    background: none;
    font-size: 20px;
    color: #930000;
    margin-top: 3px;
    margin-right: 40%;
}

h1.center {
    text-align: center;
}

h1.loaded {
}

div.table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

table {
    border: none;
    border-collapse: collapse;
}

th, td {
    border: none;
    font-size: 20px;
}

td {
    padding: 8px;
}

th {
    background-color: #930000;
    color: white;
    padding: 12px;
}

tr:nth-child(odd) {background-color: #eaeafc;}
tr:nth-child(even) {background-color: #dedef2;}

div.topBar {
    background-color: #bf0000;
}

div.centerTopBar {
    text-align: center;
    font-size: 150%;
    margin: auto;
    width: 100%;
}

button.topBar {
    border-style: none;
    border-width: 0px;
    font-size: 20px;
    background-color: #950000;
    padding: 10px 50px 10px 50px;
    color: white;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
    width: fit-content;
}

input[type="file"] {
    padding: 10px 15px;
    background-color: #dcdde3;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

input[type="file"]:hover {
    background-color: #d0d1d9;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #dcdde3;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d0d1d9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

img.logo {
    display: inline-block;
    height: 90px;
    width: auto;
    float: right;
    object-fit: contain;
    margin-top: -5px;
}

p.topBarTitle {
    color: white;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
    float: left;
    margin-left: 1%;

    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px #7a0000;
}

a.logout-btn {
    display: inline-block;
    float: right;
    background-color: #a30000;
    border-radius: 0px 0px 10px 10px;
    margin-right: 1%;

    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

a.logout-btn a:hover {
    background-color: #990000;
}

a.login-btn {
    display: inline-block;
    float: right;
    background-color: #a30000;
    border-radius: 0px 0px 10px 10px;
    margin-right: 1%;

    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

a.login-btn a:hover {
    background-color: #990000;
}

.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

div.topBar > div:last-child > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flash-message {
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    border-radius: 5px;
    font-weight: bold;
}

div.topBar > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

div.topBar > div:last-child > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flash-message {
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    border-radius: 5px;
    font-weight: bold;
}

div.current-day-info-home {
    margin-left: 5%;
    font-size: 30px;
}

div.current-day-info {
    text-align: center;
    font-size: 30px;
}

div.mainButtons {
    display: flex
}

menu.dates {
    border-radius: 5px;
    background-color: #dedef2;
    padding: 10px;
    display: inline-block;
    font-size: 35px;
    margin-left: 5%;
}

p.homeText {
    text-align: center;
    font-size: 20px;
    margin: 0% 20% 0% 20%;
}

h1.noData {
    text-align: center;
    font-size: 40px;
}

a.report-btn {
    padding: 10px 20px;
    background-color: #dcdde3;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border: 2px solid transparent;
}

a.report-btn:hover {
    background-color: #d0d1d9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

