body {
    margin: 0px;
}

div.topImage {

}

div.topImage img {
    width: 100%;
    height: 100%;
    object-fit: fill
}

ul.top {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #bf0000;
    display: inline-block;
}

li.selected {
    float: left;
    background-color: #930000;
}

li.left {
    float: left;
}

ul.top li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

div.return {
    background-color: #a61717;
    position: absolute;
    border-radius: 30px;
    font-size: 30px;

    margin: 0.8% 0% 0% 64%;
    text-align: center;
    width: 6.5%;
}

div.return a {
    display: block;
    color: white;
    padding: 5% 0.5%;
    text-decoration: none;
}

h2.summary {
    background-color: #cfcff9;
    border-radius: 10px;
    font-size: 25px;

    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    text-align: center;
    width: 20%;
}

ul li a:hover {
  background-color: #930000;
}

.tableSort {

}

div.aboveTable {
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.filters {
    display: grid;
    float: left;
    margin-left: 15%;
    align-items: center;
    margin-top: 2%
}

div.filter-group label {
    font-size: 20px;
}

div.filter-group select {
    font-size: 20px;
}

ul.filters {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}



button.sort-btn {
    margin: 10px 0px 10px;
    font-size: 20px;
}

ul.filters li button{
    margin: 5px 0px 5px;
    font-size: 20px;;
}

button.sortApply {
    border-style: none;
    border-width: 0px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #bf0000;
    padding: 10px 10px;
    margin-right: 40%;
    color: white;
}

button.sortApply:hover {
    background-color: #930000;
}

button.sortReset {
    border-style: none;
    background: none;
    font-size: 20px;
    color: #930000;
    margin-top: 3px;
    margin-right: 40%;
}

h1.center {
    text-align: center;
}

div.table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

table {
    border: none;
    border-collapse: collapse;
}

th, td {
    border: none;
    font-size: 20px;
}

td {
    padding: 8px;
}

th {
    background-color: #930000;
    color: white;
    padding: 12px;

}

tr:nth-child(odd) {background-color: #eaeafc;}
tr:nth-child(even) {background-color: #dedef2;}

div.topBar {

    background-color: #bf0000;
}

div.centerTopBar {
    text-align: center;
    font-size: 150%;
    margin: auto;
    width: 50%;
}

button.topBar {
    border-style: none;
    border-width: 0px;
    font-size: 20px;
    background-color: #950000;
    padding: 10px 50px 10px 50px;
    color: white;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
    width: fit-content;
}

input[type="file"] {
    padding: 10px 15px;
    background-color: #FFF8E1;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

input[type="file"]:hover {
    background-color: #E8D7A9;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #FFF8E1;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #E8D7A9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}


li.logout-btn {
    float: right !important;
    margin-right: 20px;
}

li.logout-btn a {
    background-color: #FFF8E1;
    border: none;
    border-radius: 5px;
    color: #333 !important;
    font-weight: bold;
    margin: 5px 0;
}

li.logout-btn a:hover {
    background-color: #E8D7A9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

div.topBar > div:last-child > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flash-message {
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    border-radius: 5px;
    font-weight: bold;
}

li.logout-btn a:hover {
    background-color: #E8D7A9;
    border-color: #bf0000;
}

div.topBar > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

div.topBar > div:last-child > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flash-message {
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    border-radius: 5px;
    font-weight: bold;
}
