<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body style="background-color: #9B3134;">
<div class="login">
    <h1 class="loginHeadline">Вход для админа</h1>
    <h2>Введите свои данные для авторизации</h2>
    <form method="POST">
            <div class="form-group">
            <div class="inp">
                <label for="login">Логин</label>
                <input type="login" id="login" name="login" placeholder="Ваш login" required>
            </div>

            <div class="inp">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Ваш пароль" required>
            </div>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
            {% endwith %}

            <button class="login" type="submit">Войти</button>
            </div>
        </form>
</div>
</body>
</html>