<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
</head>
<body>
<div class="topImage">
<img src="/static/img/topImage.png">
    </div>

    <div class="topBar">
        <div class="centerTopBar">
        <ul>
        <li class="selected"><a href="#home">Главная</a></li>
        <li class="left"><a href="{{ url_for('result_pm') }}">ПМ</a></li>
        <li class="left"><a href="{{ url_for('result_ivt') }}">ИВТ</a></li>
        <li class="left"><a href="{{ url_for('result_itss') }}">ИТСС</a></li>
        <li class="left"><a href="{{ url_for('result_ib') }}">ИБ</a></li>
            {% if current_user.is_authenticated %}
                    <li class="logout-btn"><a href="{{ url_for('logout') }}">Выйти</a></li>
                {% else %}
                    <li class="left"><a href="{{ url_for('login') }}">Войти</a></li>
                {% endif %}
        </ul>
        </div>
        <div>
            {% if current_user.is_authenticated %}
                <li class="left"><form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Загрузить">
                </form></li>
            {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
            {% endwith %}
            {% endif %}
        </div>
    </div>
    
<div class="mainButtons">
            <menu>
                <form>
                    <label>01.08</label>
                    <select onchange="if (this.value) window.location.href = this.value">
                        <option value="">Выберите ОП:</option>
                        <option value="{{ url_for('result_pm') }}">ПМ</option>
                        <option value="{{ url_for('result_ivt') }}">ИВТ</option>
                        <option value="{{ url_for('result_itss') }}">ИТСС</option>
                        <option value="{{ url_for('result_ib') }}">ИБ</option>
                    </select>
                </form>
                <form>
                    <label>02.08</label>
                    <select onchange="if (this.value) window.location.href = this.value">
                        <option value="">Выберите ОП:</option>
                        <option value="{{ url_for('result_pm') }}">ПМ</option>
                        <option value="{{ url_for('result_ivt') }}">ИВТ</option>
                        <option value="{{ url_for('result_itss') }}">ИТСС</option>
                        <option value="{{ url_for('result_ib') }}">ИБ</option>
                    </select>
                </form>
                <form>
                    <label>03.08</label>
                    <select onchange="if (this.value) window.location.href = this.value">
                        <option value="">Выберите ОП:</option>
                        <option value="{{ url_for('result_pm') }}">ПМ</option>
                        <option value="{{ url_for('result_ivt') }}">ИВТ</option>
                        <option value="{{ url_for('result_itss') }}">ИТСС</option>
                        <option value="{{ url_for('result_ib') }}">ИБ</option>
                    </select>
                </form>
                <form>
                    <label>04.08</label>
                    <select onchange="if (this.value) window.location.href = this.value">
                        <option value="">Выберите ОП:</option>
                        <option value="{{ url_for('result_pm') }}">ПМ</option>
                        <option value="{{ url_for('result_ivt') }}">ИВТ</option>
                        <option value="{{ url_for('result_itss') }}">ИТСС</option>
                        <option value="{{ url_for('result_ib') }}">ИБ</option>
                    </select>
                </form>
            </menu>
        </div>
    
</body>
</html>




